.profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  flex-grow: 1;
  overflow: hidden;
}

@media screen and (max-width:900px) {
  .profile__info {
    margin: 22px auto 32px;
    max-width: 282px;
  }
}
