.profile {
  display: flex;
  margin: 38px auto 52px;
  align-items: center;
}

@media screen and (max-width:900px) {
  .profile {
    max-width: 282px;
    margin: 38px auto 49px;
    flex-direction: column;
  }
}

@media screen and (max-width:500px) {
  .profile {
    margin: 41px auto 36px;
  }
}
