.places__like {
  background-image: url(../../../images/like.svg);
  height: 19px;
  width: 22px;
  border: none;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
}

.places__like:hover {
  opacity: 0.5;
}
