.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-color: black;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 31px;
  flex-shrink: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 282px;
    margin-left: 0;
    background-size: 16px;
  }
}
