.places {
  margin: 0 auto;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
}

@media screen and (max-width:900px) {
  .places {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width:500px) {
  .places {
    grid-template-columns: minmax(0, 1fr);
  }
}
